.input-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
}
ion-input.inputStyle {
    text-align: left;
    --highlight-color-focused: white;
    --border-color: white; 
    --color-helper-text: white !important;

    &:hover {
        --border-color: #0fc8e9;
    }
}
