ion-grid{
  background-color: rgb(161, 154, 154);
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

  ion-row{
    margin: auto;
    width: 90% !important;

  }

ion-card{
    margin: auto;
    width: 80%;
}