ion-grid{
  background-color: rgb(161, 154, 154);
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

  ion-row{
    margin: auto;
    width: 90% !important;

  }

ion-card{
    margin: auto;
    width: 80%;
}

.history {
  max-height: 400px; 
  overflow: auto;
}

.history-list-container {
  max-width: 80%; 
  margin: 0 auto; 
}

@media (max-width: 768px) {
  ion-row {
    flex-direction: column;
  }
  
}
